form.joe-form {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .05em;
}
.joe-form fieldset{border: 1px solid #eee;
border: none;padding: 5px 10px 10px 10px;
background: rgba(0,0,0,.05);
margin-bottom: 10px;}

section-label {
    font-weight: bold;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 5px;
    padding: 5px 0;
        color: rgba(0,0,0,.5);
}

.joe-form label {
    display: block;
    padding-bottom: 10px;
    box-sizing: border-box;
}
label.form-checkbox {
    float: left;
    width: 33%;
    min-width: 260px;
}
/*label.form-checkbox:hover {
    background-color: rgba(255,255,255,.5);
}*/
input[type="checkbox"] {
    margin: 5px;
}

.joe-form input[type="text"],.joe-form input[type="password"] {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    
}

.joe-form textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    min-height :80px;
}

.joe-form input[type="text"],
.joe-form input[type="password"],
.joe-form textarea,
.joe-form select{
    display: block;
    padding: 8px;
	    border: 1px solid rgba(0,0,0,.1);
    background: rgba(255,255,255,.4);
    font-size:15px;
}
.joe-form input[type="text"]:focus,
.joe-form input[type="password"]:focus,
.joe-form textarea:focus,
.joe-form select:focus{
    background-color: rgba(255,255,255,.75);
}

/* QUESTION */
form-question{
    display:block;
    position:relative;
    clear: both;
}
question-name {
    font-weight: bold;
    display:block;
    padding-bottom:5px;
    line-height:22px;
    font-size:15px;
}
question-info{
    font-size: .9em;
    display: block;
    padding-bottom: 5px;
    letter-spacing: .1em;
    line-height: 1.3em;
    padding: 2px 0 5px 0;

}
req-star{
    color:red;
}

.joe-form input[type="submit"] {
    line-height: 40px;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 0 20px;
    min-width: 200px;
    cursor: pointer;
    font-size: 1.1em;
    float:right;
    border: 1px solid #ccc;
    margin:10px;
    transition:.2s;
}

.joe-form input[type="submit"]:hover{
    background:green;
    box-shadow:0px 0px 3px 0px rgba(0,0,0,.1);
}