print-joe{
    display:none;
}
@media print
{    
    capp-wrapper
    {
        display: none !important;
    }

    print-joe {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        min-height: 100%;
        background: #fff;
        z-index: 10000;
    }
    print-joe joe-panel-content.joe-panel-content {
        bottom: auto !important;
        overflow: auto !important;
        position: relative;
        top: 0px !important;
        left: 0;
        right: 0;
    }

}


    body.test-print capp-wrapper
    {
        display: none !important;
    }

    body.test-print print-joe {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        min-height: 100%;
        background: #fff;
        z-index: 10000;
    }
    body.test-print print-joe joe-panel-content.joe-panel-content {
        bottom: auto !important;
        overflow: auto !important;
        position: relative;
        top: 0px !important;
        left: 0;
        right: 0;
    }

