html,body{
    font-family: system-ui;
}
*{ padding:0; margin:0; position:relative;}
user-name {
    display: block;
    text-align: center;
    margin: 10px;
    font-size: 3VH;
}
score-card {
    position: absolute;
    top: 0;
    bottom: 50px;
    right: 0;
    left: 0;
    margin: 10px;
    background:#fff;
    box-shadow: 0 0 5px 0px rgba(0,0,0,.5);
}
user-points {
    display: block;
    font-size: 10VH;
    text-align: center;
    font-weight: bold;

    color: #fff;
    padding: 10px;
}
pts-label{
    display: block;
    font-size: 2VH;
    margin-top:-10px;
}
card-row {
    display: block;
    padding: 10px;
    user-select: none;
    padding-left: 50px;
}
card-row:hover{
    background:#eee;
}

card-row.available joe-title{
    padding: 10px 0;
}
card-row.available{
    padding:5px;
    padding-left: 50px;
}
card-pts{
    float: right;
    padding: 5px 10px;
    border-radius: 20px;
    background: #999;
    color: #fff;
    min-width: 40px;
    line-height: 20px;
    text-align: center;
    margin-top: 5px;
}

card-icon {
    width: 50px;
    /* float: left; */
    opacity: 50%;
    position: absolute;
    left: 0;
    /* top: 0; */
}
card-panel{
    display:block;
    position: absolute;
    left: 0;
    bottom: -10px;
    top: 23VH;
    right: 0;
    overflow: auto;
    background: #fff;
    display: none;
}
card-panel.active{
    display:block;
}
card-panel-title {
    display: block;
    font-size: 2VH;
    padding: 0 10px;
    background: #ccc;
    line-height: 50px;
}
menu-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    user-select: none;
}

menu-nav-option {
    float: left;
    background: #ccc;
    width: calc(100% / 4);
    line-height: 45px;
    cursor:pointer;
    padding-bottom:5px;
}
menu-nav-option.active{
    border-bottom:5px solid #ff8804;
    padding-bottom:0;
    box-shadow: 0 0 3px 0px rgba(0,0,0,.5);
    z-index: 1;
    font-weight:bold;
}